[Unit]
Description=Blogify Gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/blogify
ExecStart=/var/www/blogify/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/var/www/blogify/blogify.sock blogify.wsgi:application
Restart=on-failure
RestartSec=5
Environment="PATH=/var/www/blogify/venv/bin"

[Install]
WantedBy=multi-user.target 